memoDemo/.vs/memoDemo/v16/Server/sqlite3/storage.ide
memoDemo/memoDemo/bin/
memoDemo/.vs/memoDemo/v16/.suo
memoDemo/.vs/memoDemo/v16/Server/sqlite3/storage.ide-shm
memoDemo/.vs/memoDemo/v16/Server/sqlite3/storage.ide-wal
memoDemo/memoDemo/obj/

memoDemo/memoDemo/memoDemo.csproj.user
