memoDemo/.vs/memoDemo/v16/Server/sqlite3/storage.ide
memoDemo/.vs/memoDemo/v16/Server/sqlite3/storage.ide-shm
memoDemo/.vs/memoDemo/v16/Server/sqlite3/storage.ide-wal
memoDemo/memoDemo/bin/
memoDemo/memoDemo/obj/Debug/
